.tooltip-wrapper {
  width: fit-content;
}

.tooltip-box {
  position: absolute;
  inset: 0 auto auto 0;
  z-index: 1000;
}

.tooltip-content {
  border-radius: 4px;
  background-color: black;
  color: white;
  padding: 8px;
}

/* tooltip tails */
.tail {
  position: absolute;
  border: 5px solid transparent;
  color: black;
}

/* top */
.tail.top {
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 100%);
  border-top-color: inherit;
}

.tail.topLeft {
  bottom: 0;
  transform: translate(-50%, 100%);
  border-top-color: inherit;
}

.tail.topRight {
  bottom: 0;
  right: 0;
  transform: translate(-50%, 100%);
  border-top-color: inherit;
}

/* bottom */
.tail.bottom {
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -100%);
  border-bottom-color: inherit;
}

.tail.bottomLeft {
  top: 0;
  transform: translate(-50%, -100%);
  border-bottom-color: inherit;
}

.tail.bottomRight {
  top: 0;
  right: 0;
  transform: translate(-50%, -100%);
  border-bottom-color: inherit;
}

/* left */
.tail.left {
  right: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(100%, -50%);
  border-left-color: inherit;
}

.tail.leftTop {
  right: 0;
  transform: translate(100%, -50%);
  border-left-color: inherit;
}

.tail.leftBottom {
  right: 0;
  bottom: 0;
  transform: translate(100%, -50%);
  border-left-color: inherit;
}

/* right */
.tail.right {
  left: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(-100%, -50%);
  border-right-color: inherit;
}

.tail.rightTop {
  left: 0;
  transform: translate(-100%, -50%);
  border-right-color: inherit;
}

.tail.rightBottom {
  left: 0;
  bottom: 0;
  transform: translate(-100%, -50%);
  border-right-color: inherit;
}
